// Custom colors

$md-primary: #5C26DA;
$md-secondary: #FFC93E;
$md-tertiary: #F7F8FB;
$md-danger: #CD014A;
$md-info: #059669;
$md-warning: #F59E0B;
$md-dark: #0A0D13;
$md-tertiary--opacity: rgba(241, 245, 249, 0.16);
